{% extends "OcaratCoreBundle::template.html.twig" %}



{% block content %}

    <!-- Get Started Block -->

    <div class="block full">
        <div class="block-title">
            <h2>CA, CMD ET COÛT MKT SUR LES 12 DERNIERS MOIS </h2>
        </div>
        <!-- Get Started Content -->
        <div id="chart-classic" style="height: 300px;"></div>
        <!-- END Get Started Content -->
    </div>

    <div class="block full" style="padding-top: 5px; padding-bottom: 5px;">
        <ol class="breadcrumb" style="margin-bottom: 0px;">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/"> Par campagne</a></li>
        </ol>
    </div>

    <div class="block full">
        <div class="block-title">
            <h2>DÉTAILS DES CAMPAGNES SUR LE MOIS EN COURS</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                <thead>
                <tr>

                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Une campagne est composée d’une source et d’un support d’acquisition.">Campagne </th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Nombre de commandes « valide ». Les arnaques, annulations et paiements en attentes ne sont pas comptabilisés (voir configuration des statuts).">Nb Commandes</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Chiffre d’affaire exprimé hors-taxe. Les frais de port ainsi que les remboursements sont comptabilisés dans ce chiffre.">Chiffre d'affaire</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Moyenne des montants de commande">Panier Moyen</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Selon facture mensuelle hors-taxe.">Coût</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Le coût marketing divisé par le chiffre d’affaire. Plus le % est petit meilleur est le ROI. Au-dessus de 100% ce n’est plus rentable.">% coût / CA</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Le % que représente ce levier sur le chiffre d’affaire sélectionné.">% du CA</th>
                    <th data-toggle="tooltip" data-placement="top" title="" style="overflow: hidden; position: relative;" data-original-title="Cout marketing HT par commande.">CPA</th>
                    </tr>
                </thead>
                <tbody>
                {% set sumNb = 0 %}
                {% set sumCa = 0 %}
                {% set sumCost = 0 %}
                {% for name,campaign in campaigns %}
                    <tr>
                        {% set sumNb = sumNb + campaign['nbOrder'] %}
                        {% set sumCa = sumCa + campaign['Ca'] %}
                        {% set sumCost = sumCost + campaign['cost'] %}
                        <td><a href="{{ path('campaign', {'campaignName': name, 'monthFrom':monthFrom, 'monthTo': monthTo}) }}">{{ name }}</a></td>
                        <td>{{ campaign['nbOrder'] }}</td>
                        <td>{{ campaign['Ca']|number_format(2, '.', ',') }}</td>
                        <td>
                            {% if campaign['nbOrder'] > 0 %}
                                {{ (campaign['Ca']/campaign['nbOrder'])|number_format(2, '.', ',') }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>{{ campaign['cost']|number_format(2, '.', ',') }}</td>
                        <td>
                            {% if campaign['Ca'] > 0 %}
                                 {{ (campaign['cost']*100/campaign['Ca'])|number_format(2, '.', ',') }}
                            {% else %}
                                {{ campaign['cost']|number_format(2, '.', ',') }}
                            {% endif %}
                        </td>
                        <td>{{ (campaign['Ca']/ca*100)|round(2, 'floor')|number_format(2, '.', ',') }}</td>
                        <td>
                            {% if campaign['nbOrder'] > 0 %}
                                {{ (campaign['cost']/campaign['nbOrder'])|number_format(2, '.', ',') }}
                            {% else %}
                                {{ campaign['cost']|number_format(2, '.', ',') }}
                            {% endif %}
                        </td>

                    </tr>

               {% endfor %}

                </tbody>
                <tfoot>
                <tr>

                    <th>Total</th>
                    <th>{{ sumNb|number_format(2, '.', ',') }}</th>
                    <th>{{ sumCa|number_format(2, '.', ',') }}</th>
                    <th>
                        {% if sumNb > 0 %}
                            {{ (sumCa/sumNb)|number_format(2, '.', ',') }}
                        {% else %}
                            0
                        {% endif %}
                    </th>
                    <th>{{ sumCost|number_format(2, '.', ',') }}</th>
                    <th>{{ (sumCost*100/sumCa)|number_format(2, '.', ',') }} %</th>
                    <th></th>
                    <th>
                        {% if sumCost > 0 %}
                            {{ (sumCost/sumNb)|number_format(2, '.', ',') }}
                        {% else %}
                            {{ sumCost|number_format(2, '.', ',') }}
                        {% endif %}
                    </th>


                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- END Get Started Block -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    /*
    * Flot Charts Jquery plugin is used for charts
    *
    * For more examples or getting extra plugins you can check http://www.flotcharts.org/
    * Plugins included in this template: pie, resize, stack, time
    */

    // Get the elements where we will attach the charts
    var chartClassic    = $('#chart-classic');

    // Data for the charts
    var dataEarnings    = [{% for ca in graphCa %}{% if loop.index > 1 %},{% endif %}[{{ loop.index }}, '{{ ca}}']{% endfor %}];
    var dataCosts    = [{% for ca in graphCost %}{% if loop.index > 1 %},{% endif %}[{{ loop.index }}, '{{ ca}}']{% endfor %}];

    var dataSales       = [{% for nb in graphNb %}{% if loop.index > 1 %},{% endif %}[{{ loop.index }}, '{{ nb}}']{% endfor %}];
    var dataMonths      = [{% for date in graphDate %}{% if loop.index > 1 %},{% endif %}[{{ loop.index }}, '{{ date}}']{% endfor %}];

    // Classic Chart
    $.plot(chartClassic,
    [
    {
        label: 'Chiffre d’affaire (HT)',
        data: dataEarnings,
        lines: {show: true, fill: true, fillColor: {colors: [{opacity: .6}, {opacity: .6}]}},
        points: {show: true, radius: 5}
    },
    {
        label: 'Coût marketing',
        data: dataCosts,
        lines: {show: true},
        points: {show: true, radius: 5}
    },
    {
        label: 'Nombre de commandes',
        data: dataSales,
        lines: {show: true},
        points: {show: true, radius: 5},
        yaxis: 2,
        color : 'red'
    }
    ],
    {
    colors: ['#5ccdde', '#454e59', '#ffffff'],
    legend: {show: true, position: 'nw', backgroundOpacity: 0},
    grid: {borderWidth: 0, hoverable: true, clickable: true},
    yaxes: [ { position: 'right', tickColor: '#f5f5f5', ticks: 3 }, { position: 'left', tickColor: '#f5f5f5', ticks: 3 }],
    xaxis: {ticks: dataMonths, tickColor: '#f9f9f9'}
    }
    );

    // Creating and attaching a tooltip to the classic chart
    var previousPoint = null, ttlabel = null;
    chartClassic.bind('plothover', function(event, pos, item) {

    if (item) {
    if (previousPoint !== item.dataIndex) {
    previousPoint = item.dataIndex;

    $('#chart-tooltip').remove();
    var x = item.datapoint[0], y = item.datapoint[1];

    if (item.seriesIndex === 0) {
        ttlabel = '<strong>' + (y).format(2, ' ') + '</strong> €';
    } else if (item.seriesIndex === 1) {
        ttlabel = 'coût :<strong>' + (y).format(2, ' ') + '</strong> €';
    } else if (item.seriesIndex === 2) {
        ttlabel = '<strong>' + y + '</strong> ventes';
    }

    $('<div id="chart-tooltip" class="chart-tooltip">' + ttlabel + '</div>')
    .css({top: item.pageY - 45, left: item.pageX + 5}).appendTo("body").show();
    }
    }
    else {
    $('#chart-tooltip').remove();
    previousPoint = null;
    }
    });
    </script>

{% endblock %}


